@model AAO_App.Models.Driver

@{
    Layout = "~/Views/Shared/_NewUser.cshtml";
    ViewData["Title"] = "Create user";
}

<img id="Icon" src="images/logo.svg" alt="Alex Andersen logo"/>

<div id="DotHolder">

</div>

<form id="CreateUserForm" method="POST" asp-controller="Login" asp-action="Index">

    <div class="Formula Displayed">
        <label asp-for="Firstname">Fornavn</label>
        <input asp-for="Firstname">
        <label asp-for="Lastname">Efternavn</label>
        <input asp-for="Lastname">
        <label asp-for="Phone">Telefon nr</label>
        <input asp-for="Phone">
        <label asp-for="Address">Bopæl</label>
        <input asp-for="Address">
        <div class="ButtonContainer">
            <button type="button" id="Next" onclick="NextSlide()" class="ButtonModal">Næste</button>
        </div>
    </div>

    <div class="Formula">
        <label asp-for="Location">Lokation</label>
        <select asp-for="Location">
            <option>Odense</option>
            <option>Luxemborg</option>
        </select>

        <label asp-for="DriverLicensType">Kørekort type</label>
        <select asp-for="DriverLicensType">
            <option>BC1</option>
            <option>CE</option>
        </select>

        <div class="ButtonContainer" id="SecondContainer">
            <button type="button" id="Prev" onclick="PrevSlide()" class="ButtonModal">Tilbage</button>

            <button type="button" id="Next" onclick="NextSlide()" class="ButtonModal">Næste</button>
        </div>
    </div>

    <div class="Formula">
        <label asp-for="Location">Lokation</label>
        <input asp-for="Location">
        <label asp-for="DriverLicensType">Kørekort type</label>
        <input asp-for="DriverLicensType">

        <div class="ButtonContainer" id="ThirdContainer">
            <input type="Submit" value="Anmod om registrering" class="WideButton">
        </div>
    </div>
</form>

<script src="../../js/CreateUserScript.min.js"></script>