@import '_Colours.scss';

@mixin Buttons(){
    background-color:$CTAColourPrim;
    color:$SecondaryTextColour;
    padding:5px 0;
    outline:none;
    border:none;
    border-radius:0.3em;
}

.ButtonModal{
    width:20%;
    @include Buttons;
}

.WideButton {
    @include Buttons;
    width:90%;
}

.RoundedInfo{
    border-radius:100%;
    outline:none;
    border:none;
    background-color:$CTAColourPrim;
    width:20px;
    height:20px;
    color:$BackgroundColour;
    text-align:center;
    margin-left:5px;
}