$CTAColourPrim: #00904A; // Den mest lyse af de to grønne

$CTAColourSecond: #005140; // Mørkere variant af den grønne

$DetailColour: #313131; // Mørkegrå detalje farve, bruges bl.a inde i toggle slidere

$DangerColour: #DC2F34; // Røde farve bruges bl.a til logout og slet

$DefaultTextColour: #000000; // Sort tekst farve

$SecondaryTextColour: #FDFDFD; // Overvejende hvid farve

$BackgroundColour: #FFFFFF; // Hvid tekst farve 

$DefaultBoxColour: #EAEAEA; // Lysegrå farve