@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Raleway:wght@700&display=swap');

$CTAColourPrim: #00904A; // Den mest lyse af de to grønne

$CTAColourSecond: #005140; // Mørkere variant af den grønne

$DetailColour: #313131; // Mørkegrå detalje farve, bruges bl.a inde i toggle slidere

$DangerColour: #DC2F34; // Røde farve bruges bl.a til logout og slet

$DefaultTextColour: #000000; // Sort tekst farve

$SecondaryTextColour: #FDFDFD; // Overvejende hvid farve

$BackgroundColour: #FFFFFF; // Hvid tekst farve 

$DefaultBoxColour: #EAEAEA; // Lysegrå farve

$Raleway:'Raleway';

$Asap:'Asap';

$DefaultTextSize:20px;

$CTATextSize:25px;

$HeadlineTextSize:30px;

$ContactBoxTextSize:14px;

$UltraBigNumber:40px;