$CTAColourPrim: #00904A;

$CTAColourSecond: #005140;

$DetailColour: #313131;

$DangerColour: #DC2F34;

$DefaultTextColour: #000000;

$SecondaryTextColour: #FDFDFD;

$BackgroundColour: #FFFFFF;

$DefaultBoxColour: #EAEAEA;