@import '_Colours.scss';
@import '_ButtonTemplate.scss';

html, body {
    height: 100%;
    margin: 0;
}
* {
    padding: 0;
    margin: 0;
    font-family: $Asap, sans-serif;
}
main {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    padding-top: 60px;
}
.header_container {
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    background-color: white;

    .logo_left {
        width: 60%;
        margin-top: 10px;
        text-align: center;
    }

    .nav-bar {
        position: absolute;
        top: 0;
        right: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: position 2.9s;
        -webkit-transition: position 2.9s;
        -moz-transition: position 2.9s;
        /*  -ms-transition: position 2.9s;*/
        -o-transition: position 2.9s;

        .toggle-menu {
            position: fixed;
            top: 20px;
            right: 20px;
            width: 40px;
            height: 28px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 2px 2px 2px 3px;
            cursor: pointer;

            .line {
                width: 100%;
                height: 3px;
                border-radius: 5px;
                background-color: #000;
                transition: transform 0.2s ease-out;
                -webkit-transition: transform 0.2s ease-out;
                -moz-transition: transform 0.2s ease-out;
                /* -ms-transition: transform 0.2s ease-out;*/
                -o-transition: transform 0.2s ease-out;
            }
        }

        .nav-list {
            list-style: none;
            list-style: none;
            width: 100%;
            line-height: 60px;
            text-align: center;
            background: white;

            .nav-list-item {
                text-align: center;
                font-family: $Asap, sans-serif;
                background-color: $DefaultBoxColour;
                margin: 20px;
                border-radius: 15px;

                .nav-link {
                    color: $DefaultTextColour;
                    font-size: 30px;
                    text-decoration: none;
                    position: relative;
                    padding-bottom: 4px;

                    .nav-link::before {
                        position: absolute;
                        content: '';
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 1px;
                        background-color: $DefaultTextColour;
                        transform: scaleX(0);
                        transition: transform 0.4s ease-in-out;
                        transform-origin: left;
                        -webkit-transition: transform 0.4s ease-in-out;
                        -moz-transition: transform 0.4s ease-in-out;
                        /* -ms-transition: transform 0.4s ease-in-out;*/
                        -o-transition: transform 0.4s ease-in-out;
                    }

                    .nav-list-item:hover {
                        color: #00ff21;
                    }

                    .nav-link:hover::before {
                        transform: scaleX(1);
                    }
                }
            }

            .logud {
                background-color: $DangerColour;

                .nav-link {
                    color: $BackgroundColour;
                }
            }
        }

        .logo {
            margin: 20px 10px;
        }
    }

    .toggle {
        left: 0;
        height: inherit;
    }
}
    //this is X
    .toggle .line1 {
        background-color: $DefaultTextColour;
        transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
    }

    .toggle .line2 {
        display: none;
    }

.toggle .line3 {
    background-color: $DefaultTextColour;
    transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}
    /*Master footer*/
    footer {
        visibility: visible;
        background-color: $CTAColourPrim;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        bottom: 0;
        width: 100%;
        height: 5rem;
        margin-top: 100px;
        position: fixed;
        z-index: 100;
        .footer_item {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 50px;
            text-align: center;

            .footer_wrap {
                text-decoration: none;
                color: $BackgroundColour;
                margin-left: 5px;
            }
        }
    }


.back_list {
    width:20%;
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
}

.back_list i {
    color: $DefaultTextColour;
    text-decoration: none;
    font-style: normal;
}                               