@import '_Colours.scss';
@import '_ButtonTemplate.scss';

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 8%;
    background-image: url("../../images/bkgfrontpage.svg");
    background-size: 110%;
    background-position: top;
    background-repeat: no-repeat;

    main {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        max-width: 500px;
        grid-column: 1/-1;
        justify-self: center;

        #DotHolder {
            width: 30%;
            max-width:100px;
            display: flex;
            justify-self: center;
            justify-content: space-evenly;
        }

        img{
            width:20%;
            margin:33px 0 24px 0;
        }

        .Dot {
            outline: none;
            width: 10px;
            height: 10px;
            border: 1.5px solid $DetailColour;
            border-radius: 100%;
            padding: 0;
            background-color: $BackgroundColour;
        }

        .ActiveDot {
            background-color: $CTAColourSecond;
            border: none;
        }

        form {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-column: 1/-1;
            justify-items: center;

            label {
                justify-self: start;
                margin-bottom: 1px;
                font-size: 20px;
                font-family:$Raleway;
            }

            .Formula {
                display: none;

                .ButtonContainer {
                    display: flex;
                    justify-content: end;
                    flex-wrap: wrap;
                }

                #SecondContainer {
                    justify-content: space-between;
                }

                #ThirdContainer {
                    justify-content: start;
                }
            }

            .Displayed {
                display: block;
            }

            input, select {
                width: 100%;
                box-sizing: border-box;
                margin-bottom: 21px;
                padding: 6px 0;
                border: solid 2px $CTAColourSecond;
                border-radius: 0.4em;
                text-indent: 5px;
            }



            .WideButton {
                width: 100%;
                padding: 11px 0;
                box-shadow: rgba ($DefaultTextColour,16%) 0 3px 6px;
                margin-bottom: 18px;
                font-size: 20px;
                font-family:$Asap;
                font-weight: normal;
            }
        }
    }
}





