@import '_Colours.scss';
@import '_ButtonTemplate.scss';

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

h1#Profil {
    text-align: center;
}
p.edit_icon{
    color: $DefaultTextColour;
    margin-left: 10px;
}

img#UserPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div#TextBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;

    div {
        padding: 10px 0 10px 50px;
    }
}

.ProfileSpace {
    margin-bottom: 10px;
    margin-right: 10px;
}

.wrap_around {
    display: flex;
}
