@import '_Colours.scss';
@import '_ButtonTemplate.scss';

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}


body {

    h1#Profil {
        text-align: center;
    }

    img#UserPic {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    div#TextBody {
        margin-left: 10px;
    }

    .ProfileSpace{
        margin-bottom: 10px;
    }
}