@import '_Colours.scss';
@import '_ButtonTemplate.scss';

h1,h2,h3,h4,h5,h6{
    padding:0;
    margin:0;
}

body {
    margin: 0;
    padding: 0 8%;

    main {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;

        form {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-column: 1/-1;
            justify-items: center;

            input {
                width: 100%;
                box-sizing:border-box;
            }

            label{
                justify-self:start;
                margin-bottom:1px;
            }

            .WideButton{
                width:100%;
            }
        }
    }
}