@*Master Footer*@
<footer>
    <div class="footer_item">
        <a class="footer_wrap" asp-controller="Profile" asp-action="Index">
            <i class="material-icons" style="font-size:24px;color:white">account_circle</i>
            <span>Profil</span>
        </a>
    </div>
    <div class="footer_item">
        <a class="footer_wrap" asp-controller="Notification" asp-action="Index">
            <i class="material-icons" style="font-size:24px;color:white">notifications</i>
            <span>Notifikation</span>
        </a>
    </div>
    <div class="footer_item">
        <a class="footer_wrap" asp-controller="Indstillinger" asp-action="Index">
            <i class="material-icons" style="font-size:24px;color:white">settings</i>
            <span>Indstillinger</span>
        </a>
    </div>
</footer>