<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/MasterStyle.css" />

</head>
<body>
    @*Master header*@
    <header class="header_container">
        <nav class="header__nav nav-bar">
            <div class="toggle-menu">
                <div class="line line1"></div>
                <div class="line line2"></div>
                <div class="line line3"></div>
            </div>
            <ul class="nav-list">
                <li class="nav-list-item"><a asp-controller="Trip" asp-action="Index" class="nav-link">Ture</a></li>
                <li class="nav-list-item"><a asp-controller="Availability" asp-action="Index" class="nav-link">Rådighedskalender</a></li>
                <li class="nav-list-item"><a asp-controller="DriverHistory" asp-action="Index" class="nav-link">Mine Kørte Ture</a></li>
                <li class="nav-list-item"><a asp-controller="Contact" asp-action="Index" class="nav-link">Kontakter</a></li>
                <li class="nav-list-item"><a class="nav-link">Intranet</a></li>
            </ul>
        </nav>
    </header>

    @*Master Contents*@
    <main>
        @RenderBody()
    </main>

    @*Master Footer*@
    <footer>
        <div class="footer_item">
            <a class="footer_wrap" asp-controller="Profile"  asp-action="Index">
                <i class="material-icons" style="font-size:24px;color:white">account_circle</i>
                <span>Profil</span>
            </a>
        </div>
        <div class="footer_item">
            <a class="footer_wrap" asp-controller="Notification"  asp-action="Index">
                <i class="material-icons" style="font-size:24px;color:white">notifications</i>
                <span>Notifikation</span>
            </a>
        </div>
        <div class="footer_item">
            <a class="footer_wrap" asp-controller="Setting"  asp-action="Index">
                <i class="material-icons" style="font-size:24px;color:white">settings</i>
                <span>Indstillinger</span>
            </a>
        </div>
    </footer>
    <script asp-append-version="true">
        //Menu Javascript here

        var toggleButton = document.querySelector('.toggle-menu');
        var navBar = document.querySelector('.nav-bar');
        toggleButton.addEventListener('click', function () {
            navBar.classList.toggle('toggle');
        });

    </script>
</body>
</html>
