<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/MasterStyle.css" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" />
    <link href="https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Raleway:wght@700&display=swap" />
    <link href="~/css/Driversittingstyles.css" rel="stylesheet" />
    <link href="~/css/CalendarStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    @*Master header*@
    <header class="header_container">
        <div class="back_list">
            <a asp-action="Index" asp-controller="Homepage">
                <i style="font-size:30px" class="fa">&#xf100;</i>
            </a>
        </div>
        <div class="logo_left">
            <a asp-action="Index" asp-controller="Homepage" class="nav-link"><img src="~/images/logo.svg" alt="logo" width="50" height="50" /></a>
        </div>
        <nav class="header__nav nav-bar">
            <div class="toggle-menu">
                <div class="line line1"></div>
                <div class="line line2"></div>
                <div class="line line3"></div>
            </div>
            <div class="logo">
                <a asp-controller="Homepage" asp-action="Index" class="nav-link"><img src="~/images/logo.svg" alt="logo" /></a>
            </div>
            <ul class="nav-list">
                <li class="nav-list-item"><a asp-controller="Trip" asp-action="Index" class="nav-link">Ture</a></li>
                <li class="nav-list-item"><a asp-controller="Calendar" asp-action="Index" class="nav-link">Rådighedskalender</a></li>
                <li class="nav-list-item"><a asp-controller="DriverHistory" asp-action="Index" class="nav-link">Mine Kørte Ture</a></li>
                <li class="nav-list-item"><a asp-controller="Contact" asp-action="Index" class="nav-link">Kontakter</a></li>
                <li class="nav-list-item"><a class="nav-link">Intranet</a></li>
                <li class="nav-list-item logud"><a class="nav-link" asp-controller="Login">Logud</a></li>
            </ul>
        </nav>
    </header>

    @*Master Contents*@
    <main>
        @RenderBody()
    </main>

    @*Master Footer*@
    <footer>
        <div class="footer_item">
            <a class="footer_wrap" asp-controller="Profile" asp-action="Index">
                <i class="material-icons" style="font-size:24px;color:white">account_circle</i>
                <span>Profil</span>
            </a>
        </div>
        <div class="footer_item">
            <a class="footer_wrap" asp-controller="Notification" asp-action="Index">
                <i class="material-icons" style="font-size:24px;color:white">notifications</i>
                <span>Notifikation</span>
            </a>
        </div>
        <div class="footer_item">
            <a class="footer_wrap" asp-controller="Settings" asp-action="Index">
                <i class="material-icons" style="font-size:24px;color:white">settings</i>
                <span>Indstillinger</span>
            </a>
        </div>
    </footer>

    <script asp-append-version="true">
        //Menu Javascript here

        var toggleButton = document.querySelector('.toggle-menu');
        var navBar = document.querySelector('.nav-bar');
        var menuClosed = true;
        toggleButton.addEventListener('click', function () {
            if (menuClosed) {
                navBar.classList.toggle('toggle');
                document.querySelector('main').style.display = "none";
                document.querySelector('footer').style.display = "none";
                document.getElementsByClassName('logo_left')[0].style.display = 'none';
                menuClosed = false;
            } else {
                navBar.classList.toggle('toggle');
                document.querySelector('main').style.display = "grid";
                document.querySelector('footer').style.display = "flex";
                document.getElementsByClassName('logo_left')[0].style.display = 'block';
                menuClosed = true;
            }
        });


    </script>
</body>
</html>
