<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/NewUserStyles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <main>
        @RenderBody()
    </main>
</body>
@RenderSection("Scripts", required: false)
</html>
