@model AAO_App.Models.Login

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}


<form method="POST" asp-controller="Homepage" asp-action="Index">
    <label asp-for="Username">Brugernavn:</label>
    <input asp-for="Username">
    <label asp-for="Password">Adgangskode:</label>
    <input asp-for="Password"><br>
    <input type="Submit" value="Log ind" class="WideButton">
</form>