@model AAO_App.Models.Login

@{
    ViewData["Title"] = "Login";
}

<form method="POST" asp-controller="Homepage" asp-action="Index">
    <label asp-for="Username">Username:</label><br>
    <input asp-for="Username"><br>
    <label asp-for="Password">Password:</label><br>
    <input asp-for="Password"><br><br>
    <input type="Submit" value="Login">
</form>