@model IEnumerable<AAO_App.Models.Driver>

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Master.cshtml";

}

@*Alle jeres css i skal bruge til siderne tilføjer i _Master Layout - vi skal kun bruge en styling hele vejen igennem*@


<link href="~/css/Profile.css" rel="stylesheet" type="text/css" />
<main>
    @*@foreach (var item in Model)
    {*@

        <h1 id="Profil">Profil</h1>
        <img id="UserPic" src="../../../images/userpic.svg" alt="ProfilePic" />
        <div id="TextBody">
            <h2 class="ProfileSpace" id="Stamdata">Stamdata</h2>
            <div class="ProfileSpace" id="ProfName"> @*@Html.DisplayFor(modelItem => item.Firstname)*@ Navn: <input type="text" /></div>
            <div class="ProfileSpace" id="ProfAddress"> @*@Html.DisplayFor(modelItem => item.Address)*@Addresse: <input type="text" /></div>
            <p class="ProfileSpace" id="ProfKørekort"> Kørekort oplysninger: </p>
            <h2 class="ProfileSpace" id="ProfPreferencer">Dine præferencer</h2>
            <div class="ProfileSpace" id="ProfLokation"> @*@Html.DisplayFor(modelItem => item.Location)*@ Lokation: </div>
            <div class="ProfileSpace" id="ProfType"> @*@Html.DisplayFor(modelItem => item.DriverLicensType)*@Type: </div>
        </div>
    @*}*@
</main>
<hr /> <!-- indtil footer og header er lavet-->
