@model AAO_App.Models.Driver

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Master.cshtml";

}
<link href="~/css/Profile.css" rel="stylesheet" type="text/css" />

<body>
    <h1 id="Profil">Profil</h1>
    <img id="UserPic" src="../../../images/userpic.svg" alt="ProfilePic" />
    <div id="TextBody">
        <h2 class="ProfileSpace" id="Stamdata">Stamdata</h2>
        <div class="ProfileSpace" id="ProfName">Navn: <input type="text" /></div>
        <div class="ProfileSpace" id="ProfAddress">Addresse: <input type="text" /></div>
        <p class="ProfileSpace" id="ProfKørekort">Kørekort oplysninger: </p>
        <h2 class="ProfileSpace" id="ProfPreferencer">Dine præferencer</h2>
        <div class="ProfileSpace" id="ProfLokation">Lokation: </div>
        <div class="ProfileSpace" id="ProfType">Type: </div>
    </div>

    <hr /> <!-- indtil footer og header er lavet-->



</body>