@model AAO_App.Models.Driver

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Master.cshtml";

}
<link href="~/css/Profile.css" rel="stylesheet" type="text/css" />

<div>
    <h1 id="Profil">Profil</h1>
    <img id="UserPic" src="../../../images/userpic.svg" alt="ProfilePic" />
    <div id="TextBody">
        <h2 id="Stamdata">Stamdata</h2>
        <div>Navn: <input type="text" /></div>
        <div>Addresse: <input type="text" /></div>
        <p>Kørekort oplysninger: </p>
        <h2>Dine præferencer</h2>
        <div>Lokation: </div>
        <div>Type: </div>
    </div>
    <hr /> <!-- indtil footer og header er lavet-->



</div>