@model AAO_App.Models.Availability

@{
    ViewData["Title"] = "Create";
}

<div class="w3-container">
    <h1 class="opret_periode">Opret Periode</h1>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Start" class="control-label">Start Dato</label>
            <input asp-for="Start" class="form-control" />
            <span asp-validation-for="Start" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="End" class="control-label">Slut Dato</label>
            <input asp-for="End" class="form-control" />
            <span asp-validation-for="End" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Start" class="control-label">Fra</label>
            <input asp-for="Start" type="time" class="form-control" />
            <span asp-validation-for="Start" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="End" class="control-label">Til</label>
            <input asp-for="End" type="time" class="form-control" />
            <span asp-validation-for="End" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AvailabilityType" class="control-label">Type</label>
            <select asp-for="AvailabilityType" class="form-control">
                <option value="0">Ledig</option>
                <option value="1">Optaget</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
<a class="back_list" style="font-size:20px;color:black;" asp-action="Index">   <i style="font-size:24px" class="fa">&#xf104; Back</i></a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
