@{
    ViewData["Title"] = "Notification";
    Layout = "_Master";
}
<main>
    <div class="contact_container">
        <div class="headingtext">
            <h1>Notifikationer</h1>
        </div>
        <div class="message_info">
            <div class="wrapper_text">
                <span>Du har fået denne tur</span>
                <span>2 m...</span>
            </div>
            <div class="wrapper_message">
                <div class="item1">
                    <p>6 Sep</p>
                </div>
                <div class="item2">
                    <p>
                        Afg. Odense - Start kl:12:30
                    </p>
                </div>
                <div class="item3">
                    <p>DK-DK</p>
                </div>
                <div class="item4">
                    <p>12t</p>
                </div>
            </div>
        </div>
        <div class="message_info">
            <div class="wrapper_text">
                <span>Du har fået denne tur</span>
                <span>8 t...</span>
            </div>
            <div class="wrapper_message">
                <div class="item1">
                    <p>10 Sep</p>
                </div>
                <div class="item2">
                    <p>
                        Afg. Odense - Start kl:12:30
                    </p>
                </div>
                <div class="item3">
                    <p>DK-DK</p>
                </div>
                <div class="item4">
                    <p>12t</p>
                </div>
            </div>
        </div>
        <div class="message_info">
            <div class="wrapper_text">
                <span>Du har fået denne tur</span>
                <span>3 d...</span>
            </div>
            <div class="wrapper_message">
                <div class="item1">
                    <p>12 Sep</p>
                </div>
                <div class="item2">
                    <p>
                        Afg. Odense - Start kl:12:30
                    </p>
                </div>
                <div class="item3">
                    <p>DK-DK</p>
                </div>
                <div class="item4">
                    <p>12t</p>
                </div>
            </div>
        </div>
        <div class="message_info">
            <div class="wrapper_text">
                <span>Du har fået denne tur</span>
                <span>9 d...</span>
            </div>
            <div class="wrapper_message">
                <div class="item1">
                    <p>15 Sep</p>
                </div>
                <div class="item2">
                    <p>
                        Afg. Odense - Start kl:12:30
                    </p>
                </div>
                <div class="item3">
                    <p>DK-DK</p>
                </div>
                <div class="item4">
                    <p>12t</p>
                </div>
            </div>
        </div>
    </div>
    <div class="back_list">
        <a asp-controller="Homepage" asp-action="Index">
            <i style="font-size:24px" class="fa">&#xf100; Back</i>
        </a>
    </div>
</main>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
