
@{
    ViewData["Title"] = "Homepage";
    Layout = "_Master";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Raleway:wght@700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="~/css/HomepageStyles.css" />

<img src="images/logo.svg" alt="Alex Andersen Logo" id="Icon" />

<div id="WelcomeMessage">
    <img src="images/userpic.svg" alt="User image" />
    <h3>Velkommen Alex</h3>
</div>

<div id="NewestTrips">
    <h3>Nyeste ledige ture</h3>

    <div class="TripsHolder">
        <div class="Date">
            <p class="Number">6</p>
            <p class="Month">SEP</p>
        </div>
        <div class="Info">
            <p>Afgangsted: Odense</p>
            <p>Start 6/9 kl.12:30 </p>
            <p>Slut 7/9 Kl.12:30</p>
        </div>
        <div class="Time">
            <p>12t</p>
        </div>
        <div class="Country">
            <p>DK-DK</p>
        </div>
    </div>


    <div class="TripsHolder">
        <div class="Date">
            <p class="Number">10</p>
            <p class="Month">SEP</p>
        </div>
        <div class="Info">
            <p>Afgangsted: Odense</p>
            <p>Start 6/9 kl.12:30 </p>
            <p>Slut 7/9 Kl.12:30</p>
        </div>
        <div class="Time">
            <p>13t</p>
        </div>
        <div class="Country">
            <p>DK-DK</p>
        </div>
    </div>

</div>